@import "tailwindcss";

@theme {

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  /* --- KOLORY PRIMARY --- */
  /* primary-900 to Twój CIEMNY kolor tekstu (#801b29) */
  /* primary-950 to Twój kolor AKCENTU (#a85f6c - Serce na Dłoni) */
  --color-primary-50: #fdf2f3;
  --color-primary-100: #fce7e9;
  --color-primary-200: #fbd0d5;
  --color-primary-300: #f8aab4;
  --color-primary-400: #f27a8a;
  --color-primary-500: #e84f64;
  --color-primary-600: #d42d45;
  --color-primary-700: #b21e32;
  --color-primary-800: #951c2d;
  --color-primary-900: #380a11;
  --color-primary-950: #a85f6c;

  --color-secondary-900: #0c0103;
}

@layer base {
  body {
    /* ZMIANA: text-primary-900 zamiast 950. 
       Dzięki temu domyślny tekst jest ciemny i czytelny. */
    @apply bg-primary-50 text-primary-900;
  }
}