@import "tailwindcss";

@theme {

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  /* --- KOLORY PRIMARY --- */
  /* Definiujemy paletę kolorów bezpośrednio w CSS */
  --color-primary-50: #fdf2f3;
  --color-primary-100: #fce7e9;
  --color-primary-200: #fbd0d5;
  --color-primary-300: #f8aab4;
  --color-primary-400: #f27a8a;
  --color-primary-500: #e84f64;
  --color-primary-600: #d42d45;
  --color-primary-700: #b21e32;
  --color-primary-800: #951c2d;
  --color-primary-900: #801b29;
  --color-primary-950: #a85f6c;
  /* Twój customowy kolor */
}

/* Reszta Twoich styli globalnych (jeśli masz jakieś specyficzne) */
@layer base {
  body {
    /* Wymuszamy domyślny kolor tła i tekstu */
    @apply bg-primary-50 text-primary-950;
  }
}